
<div class="allSkills">
	<p>Color coded skills: The higher the skill rank, the darker is the color shade</p>
	<% @allskills.each do |i| %>
	<% if @allskills.get(i).status != 0 %>
		<div
			<% if @allskills.get(i).skillrank == 5 %> class="rank5"
			<% elsif @allskills.get(i).skillrank == 4 %> class="rank4" 
			<% elsif @allskills.get(i).skillrank == 3 %> class="rank3"
			<% elsif @allskills.get(i).skillrank == 2 %> class="rank2" 
			<% elsif @allskills.get(i).skillrank == 1 %> class="rank1" <%end%> >
			<%= @ssmaster.get(i.skillid).skill_name %> 
		</div>
	<%end%>
<% end %>
</div>
