<header>Score Detail</header>
<table class="hover compact">
  <thead>
    <tr>
      <th >description</th>
      <th >job spec </th>
      <th >seeker detail</th>
      <th >score</th>
    </tr>
  </thead>
  <tbody>
    <% @skrdetail.each do |i| %>
    <tr>
      <td> <%= i.fieldname %></td>                       
      <td> <%= i.jobvalue %></td>
      <td> <%= i.skrvalue %></td>
      <td> <%= i.score %></td>
    </tr>
    <% end %>
  </tbody>
</table>


