<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8" />

<meta name="description" content="overview &amp; stats" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script  type="text/javascript" src="/vendor/modernizr.js"></script>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<!-- <script src="/vendor/aceskin/jquery-2.0.3.min.js"></script> -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" />
  <!-- <link rel="stylesheet" href="/vendor/bootstrap-editable.css" /> -->
  
  <link rel="stylesheet" href="/vendor/aceskin/font-awesome.min.css" />
  <link rel="icon" href="/assets/favicon.ico">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/vendor/aceskin/datepicker.css" />
  <link rel="stylesheet" href="/vendor/aceskin/daterangepicker.css" />
  <link rel="stylesheet" href="/vendor/jqueryfileupload/css/jquery.fileupload.css" />
  <link rel="stylesheet" href="/vendor/aceskin/jquery.gritter.css" />
    <!--[if lte IE 9]>
      <link rel="stylesheet" href="/vendor/aceskin/ace-part2.min.css" />
    <![endif]-->

    <!--[if IE 7]>
      <link rel="stylesheet" href="/vendor/aceskin/font-awesome-ie7.min.css" />
    <![endif]-->

  <!-- ace styles -->
  <link rel="stylesheet" href="/vendor/aceskin/ace.css">
  <link rel="stylesheet" href="/vendor/aceskin/ace-rtl.min.css">
  <link rel="stylesheet" href="/vendor/aceskin/ace-skins.min.css" />
   <link rel="stylesheet" href="http://cdn.datatables.net/responsive/1.0.1/css/dataTables.responsive.css" />

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/vendor/aceskin/ace-ie.min.css" />
    <![endif]-->

    <!-- ace settings handler -->
    <script src="/vendor/aceskin/ace-extra.min.js"></script>
    <script src="/vendor/aceskin/jquery.dataTables.min.js"></script>
    <script src="/vendor/aceskin/jquery.dataTables.bootstrap.js"></script> 

    <!--[if lt IE 9]>
    <script src="/vendor/aceskin/html5shiv.js"></script>
    <script src="/vendor/aceskin/respond.min.js"></script>
    <![endif]-->

    

<!-- <link href="/vendor/select2/select2-bootstrap.css" rel="stylesheet" type="text/css"></link>    -->
<link href="/vendor/select2/select2.css" rel="stylesheet" type="text/css"></link>  


  </head>
  <body>

<div class="navbar navbar-default" id="navbar">
      <script type="text/javascript">
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
      </script>

      <div class="navbar-container" id="navbar-container">
        <div class="navbar-header pull-left">
          <a href="/edge" class="navbar-brand">
            <small>
              <i class="icon-leaf"></i>
              INsights
            </small>
          </a><!-- /.brand -->
        </div><!-- /.navbar-header -->

        <div class="navbar-header pull-right" role="navigation">
          <ul class="nav ace-nav">
            <li class="purple">
              <div class="infobox infobox-orange">
                <div class="infobox-chart">
                    <span class="sparkline" data-values="196,128,202,177,154,94,100,170,224"></span>
                </div>

                <div class="infobox-data">
                    <span class="infobox-data-number">6,251</span>
                    <div class="infobox-content">points</div>
                </div>

                <div class="badge badge-success">
                    7.2%
                    <i class="icon-arrow-up"></i>
                </div>
            </div> <!-- "infobox infobox-orange2" -->
            <li class="light-blue">
              <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <img class="nav-user-photo" src="/vendor/avatar.jpg"  alt="Job Seeker's Photo" />
                <span class="user-info">
                  <small>Welcome,</small>
                  <%= @userme %>
                </span>
                <i class="icon-caret-down"></i>
              </a>
              <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                <li>
                  <a href="/settings">
                    <i class="icon-user"></i>
                    User Preferences
                  </a>
                </li>

                <li>
                  <a href="/account">
                    <i class="icon-cogs"></i>
                    Account settings
                  </a>
                </li>

                <li class="divider"></li>

                <li>
                  <a href="/logout">
                    <i class="icon-off"></i>
                    Logout
                  </a>
                </li>
              </ul>
            </li>
          </ul><!-- /.ace-nav -->
        </div><!-- /.navbar-header -->  
        </div> <!-- container -->
      </div>


  <div class="main-container" id="main-container">
      <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
      </script>
      <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
          <span class="menu-text"></span>
        </a>

      <div id="sidebar" class="sidebar">
        <script type="text/javascript">try{ace.settings.check('sidebar' , 'fixed')}catch(e){}</script>
<!--         <div class="sidebar-shortcuts" id="sidebar-shortcuts">
          <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success"><i class="icon-signal"></i></button>
            <button class="btn btn-info"><i class="icon-pencil"></i></button>
            <button class="btn btn-warning"><i class="icon-group"></i></button>  
            <button class="btn btn-danger"><i class="icon-cogs"></i></button>              
          </div>
          <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>
            <span class="btn btn-info"></span>
            <span class="btn btn-warning"></span>
            <span class="btn btn-danger"></span>
          </div>
        </div>  -->

        <ul class="nav nav-list">
          <li class=""><a href="/edge" ><i class="icon-desktop"></i><span class="menu-text"> My Dashboard</span></a></li>     
          <li class=""><a href="/mycv" ><i class="icon-certificate"></i><span class="menu-text"> My CV </span></a></li> 
        </ul><!-- /.nav-list -->

        <div class="sidebar-collapse" id="sidebar-collapse">
            <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
          </div>
        <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
          </script>
      </div> <!--id="sidebar" class="sidebar responsive"-->

      <div class="main-content">
          <%= yield %> </div><!-- /.main-content -->
    </div> <!--main-container-inner -->
      <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
      </a>
      
  </div><!-- /.main-container -->

    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='/vendor/aceskin/jquery-1.10.2.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->


    <!--[if lte IE 8]>
      <script src="/vendor/aceskin/excanvas.min.js"></script>
    <![endif]-->

    <script src="/vendor/aceskin/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/vendor/aceskin/jquery.ui.touch-punch.min.js"></script>
    <script src="/vendor/aceskin/chosen.jquery.min.js"></script>
    <script src="/vendor/aceskin/fuelux.spinner.min.js"></script>
    <script src="/vendor/aceskin/date-time/bootstrap-datepicker.min.js"></script>
    <script src="/vendor/aceskin/date-time/bootstrap-timepicker.min.js"></script>
    <script src="/vendor/aceskin/date-time/moment.min.js"></script>
    <script src="/vendor/aceskin/date-time/daterangepicker.js"></script>
    <script src="/vendor/aceskin/jquery.knob.min.js"></script>
    <script src="/vendor/aceskin/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="/vendor/aceskin/jquery.maskedinput.min.js"></script>
    <script src="/vendor/aceskin/jquery.gritter.min.js"></script>
    <script src="/vendor/select2/select2.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <script src="/vendor/aceskin/ace.min.js"></script>
    <script src="/vendor/aceskin/ace-elements.min.js"></script>
    <!--[if IE]>
    <script type="text/javascript">
    window.jQuery || document.write("<script src='/vendor/aceskin/jquery1x.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->

     <script src="/vendor/custom.js"></script>

</body>
</html>

