

<script type='text/javascript'>
  // $(function() {
  //   Dashing.widget_base_dimensions = [310, 320]
  //   Dashing.numColumns = 4
  //  });    
</script>


<div class="breadcrumbs" id="breadcrumbs">
  <script type="text/javascript">
    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
  </script>

  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a href="/edge">Home</a>
    </li>
    <li class="active">Profile</li>
  </ul><!-- /.breadcrumb -->

</div>

<div class="page-content">
  <div class="page-content-area">
    <div class="page-header"> </div>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="top_job_titles" data-view="Stacker" data-title="Top 5 IT Job Titles" style="background-color:#d35400;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="seekers_nationality" data-view="Highbar" data-title="Job seekers by Nationality" style="background-color:#efad1b;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="top_industries" data-view="Pie" data-title="Top 5 hiring Industries" style="background-color:#f39c12;"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="top_it_jobs" data-view="Horizonbarstack" data-title="Top 10 IT Skills in demand" style="background-color:#2c3e50;"></div>
    </li>

</ul>
    

</div>
<br/><br/><br/><br/><br/><br/>
This version of your Career Dashboard is not available on Internet Explorer. Please use SAFARI, CHROME or OPERA


 </div> <!-- page-content-area -->
 </div> <!--"page-content" -->
  <script src="/vendor/aceskin/ace-elements.min.js"></script>
  <script src="/vendor/aceskin/ace.min.js"></script>
