

		

	<div id="primary" class="content-area">
		<div id="content" class="homepage-content" role="main">
			<section id="jobify_widget_slider_hero-3" class="homepage-widget jobify_widget_slider_hero">
				<div id="soliloquy-container-1668" class="soliloquy-container soliloquy-transition-fade soliloquy-fade  soliloquy-theme-base" style="max-width:3000px;max-height:540px;margin:0 auto 0px;">
					<ul id="soliloquy-1668" class="soliloquy-slider soliloquy-slides soliloquy-wrap soliloquy-clear">
						<li class="soliloquy-item soliloquy-item-1 soliloquy-image-slide" draggable="false" style="list-style:none"><img id="soliloquy-image-1682" class="soliloquy-image soliloquy-image-1" src="/main/wp-content/uploads/sites/16/2013/07/slide-one-2x.jpg" alt="Job Searching Just Got Easy" />
							<div class="soliloquy-caption">
								<div class="soliloquy-caption-inside">
									<!-- <a href="#"> -->
									<h2 class="soliloquy-caption-title"> Fast and Accurate Job Matching</h2>
									<p>Happy Job Seekers, Happy Employers</p>
									<!-- <p><a href="job/product-designer/index.html" class="button">Upload Your Resume to Start</a></p> -->
									<!-- </a> -->
								</div>
							</div>
						</li>
					</ul>
				</div>
				<noscript><style type="text/css">#soliloquy-container-1668{opacity:1}</style></noscript>
			</section>




		<section id="howitworks" class="homepage-widget jobify_widget_video">
			<div class="container">
				<div class="video-description">
					<h3 class="homepage-widget-title">How It All Works</h3>
						<p class="homepage-widget-description">

						<p> 1. Jorb.co extracts unstructured data from CVs and Job Descriptions and distills them into respective fields in the database.</p>
						<p>	Manual process is introduced by means of human interpretation to ensure data collected are error free. Any discrepancies between human and system interpretation will be fed back into the system to make the automation process more flawless.</p>
						<p> 2. The data is then processed through matching algorithms and the match results delivered to recruiters.
						<p><a href="#" class="button-secondary">Learn More</a></p>
						</p>
				</div>
				<div class="video-preview animated">
					<iframe width="680" height="383" src="http://www.youtube.com/embed/FG0fTKAqZ5g?feature=oembed" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</section>


		<section id="problems">
			<div class="container">
				<h3 class="homepage-widget-title">What's the problem?</h3>
				<p class="homepage-widget-description">
					<p> 1. "I can't find people to fill positions"</p>
					<p>	2. "How do I fair against other job seekers?"</p>
					<p> 3. "I may have missed out some good candidates because I don't have time to review each CV in its completeness"</p>
					<p> 4. "I am overwhelmed by the different CV format. Makes it difficult for me to pick up important information"	</p>
					<p> 5. "I can't put in all my skills in the CV without making it bloated"</p>
					<p> 6. "Job descriptions provided by Hiring Manager is not detailed enough to support my CV filtering process"</p>
					<p> 7. "I am not able to anlayse the quality of a candidate from CV because I am not familiar with the technical skills requirement."</p>

				</p>
			</div>
			<style>
			/*#problems { background-image: url(/main/wp-content/uploads/sites/16/2013/07/App-Slider-BG-Darker.jpg); background-size: cover; }*/
			</style>
		</section>


		<section id="problems" class="homepage-widget jobify_widget_video">
			<div class="container">
					<h3 class="homepage-widget-title">Which leads to...</h3>
						<p class="homepage-widget-description">
						<p> Mismatch in the Job market where jobs cannot get filled fast enough even though there are talents actively looking for jobs</p>
						</p>
				</div>
		</section>


		<section id="jobify_widget_slider-3" class="homepage-widget jobify_widget_slider">
			<div id="soliloquy-container-1778" class="soliloquy-container soliloquy-transition-fade soliloquy-fade  soliloquy-theme-classic" style="max-width:980px;max-height:555px;margin:0 auto 20px;">
				<ul id="soliloquy-1778" class="soliloquy-slider soliloquy-slides soliloquy-wrap soliloquy-clear">
					<li class="soliloquy-item soliloquy-item-2 soliloquy-image-slide" draggable="false" style="list-style:none">
					<div class="soliloquy-image-wrap" style="float:right" >
						<a href="#"><img id="soliloquy-image-1779" class="soliloquy-image soliloquy-preload soliloquy-image-2" src="/main/wp-content/plugins/soliloquy/assets/css/images/holder.gif" data-soliloquy-src="http://demo.astoundify.com/jobify-darker/wp-content/uploads/sites/16/2013/07/Jobify-App-Slide-One.png" alt="Job Searching Just Got Easy" /></a>
					</div>
					<div class="soliloquy-caption-wrap">
						<div class="soliloquy-caption">
							<div class="soliloquy-caption-inside">
								<h2 class="soliloquy-caption-title">Benefits to Recruiters</h2>
								<p>Spend less time filtering CVs and more time interviewing</p>
								<p>No advertising fee for job postings</p>
								<p>Easier access to talent pool - both active and passive</p>
								<p>No more manual processing of duplicated applications from same candidate</p>
								<p>Suitable candidates are matched to one or more jobs to. No more handling multiple applications from same candidate<p>
								<p><a href="http://themeforest.net/item/jobify-job-board-wordpress-theme/5247604?ref=Astoundify" class="button-secondary">Upload your Job Posting today!</a></p>
							</div>
						</div>
					</div>
					</li>
				</ul>
			</div>
			<noscript><style type="text/css">#soliloquy-container-1778{opacity:1}</style></noscript>
			<style>
			#jobify_widget_slider-3 { background-image: url(/main/wp-content/uploads/sites/16/2013/07/App-Slider-BG-Darker.jpg); background-size: cover; }
			</style>
		</section>

		<section id="jobify_widget_companies-4" class="homepage-widget jobify_widget_companies">
			<div class="container">
			<h3 class="homepage-widget-title">Companies We&#8217;ve Helped</h3>
			<p class="homepage-widget-description">Some of the companies we've helped recruit excellent applicants over the years.</p>
				<div class="company-slider-wrap">
					<div class="company-slider">	
						<div class="testimonials component effect-fade">
							<div class="testimonials-list">
								<div class="company-slider-item"><a href="http://themeforest.net/item/jobify-job-board-wordpress-theme/5247604?ref=Astoundify" class="avatar-link"><img width="1" height="1" src="/main/wp-content/uploads/sites/16/2013/07/jobify-logo-big.svg" class="avatar wp-post-image" alt="jobify-logo-big" /></a></div>
								<div class="company-slider-item"><a href="http://themeforest.net/user/Astoundify/portfolio?ref=Astoundify" class="avatar-link"><img width="1" height="1" src="/main/wp-content/uploads/sites/16/2013/07/astoundify-logo-big.svg" class="avatar wp-post-image" alt="astoundify-logo-big" /></a></div>
								<div class="company-slider-item"><a href="http://themeforest.net/item/fundify-the-wordpress-crowdfunding-theme/4257622?ref=Astoundify" class="avatar-link"><img width="1" height="1" src="/main/wp-content/uploads/sites/16/2013/07/classify-logo-big.svg" class="avatar wp-post-image" alt="classify-logo-big" /></a></div>
								<div class="company-slider-item"><a href="http://themeforest.net/item/campaignify-crowdfunding-wordpress-theme/4725411?ref=Astoundify" class="avatar-link"><img width="1" height="1" src="/main/wp-content/uploads/sites/16/2013/07/campaignify-logo-big.svg" class="avatar wp-post-image" alt="campaignify-logo-big" /></a></div>
								<div class="company-slider-item"><a href="http://themeforest.net/item/marketify-digital-marketplace-wordpress-theme/6570786?ref=Astoundify" class="avatar-link"><img width="1" height="1" src="/main/wp-content/uploads/sites/16/2013/07/marketify-logo-big.svg" class="avatar wp-post-image" alt="marketify-logo-big" /></a></div>
								<div class="company-slider-item"><a href="http://themeforest.net/item/fundify-the-wordpress-crowdfunding-theme/4257622?ref=Astoundify" class="avatar-link"><img width="1" height="1" src="/main/wp-content/uploads/sites/16/2013/07/fundify-logo-big.svg" class="avatar wp-post-image" alt="fundify-logo-big" /></a></div>
							</div><!--/.testimonials-list-->
							<div class="fix"></div>
						</div><!--/.testimonials-->
					</div>
				</div>
			</div>
		</section>

		<section id="jobify_widget_slider-3" class="homepage-widget jobify_widget_slider">
			<div id="soliloquy-container-1779" class="soliloquy-container soliloquy-transition-fade soliloquy-fade  soliloquy-theme-classic" style="max-width:980px;max-height:555px;margin:0 auto 20px;">
				<ul id="soliloquy-1779" class="soliloquy-slider soliloquy-slides soliloquy-wrap soliloquy-clear">
					<li class="soliloquy-item soliloquy-item-1 soliloquy-image-slide" draggable="false" style="list-style:none">
						<div class="soliloquy-image-wrap"><a href="#"><img id="soliloquy-image-1795" class="soliloquy-image soliloquy-image-1" src="/main/wp-content/uploads/sites/16/2013/07/Jobify-App-Slide-Two.png" alt="Benefits to Job Seekers" /></a></div>
						<div class="soliloquy-caption-wrap">
							<div class="soliloquy-caption">
								<div class="soliloquy-caption-inside">
									<h2 class="soliloquy-caption-title">Benefits to Job Seekers</h2>
									<p>1. Automatically search and apply jobs on your behalf</p>
									<p>2. Get instant feedback on how you fare against other job seekers for similar job openings </p>
									<p>3. No more applying for the same job multiple times. </p>

								
									<p><a href="http://themeforest.net/item/jobify-job-board-wordpress-theme/5247604?ref=Astoundify" class="button-secondary">Upload your CV now</a></p>
								</div>
							</div>
						</div>
					</li>

				</ul>
			</div>
			<noscript><style type="text/css">#soliloquy-container-1779{opacity:1}</style></noscript>
			<style>
			#jobify_widget_slider-3 { background-image: url(/main/wp-content/uploads/sites/16/2013/07/App-Slider-BG-Darker.jpg); background-size: cover; }
			</style>
		</section>

		<section id="jsbenefits" class="homepage-widget jobify_widget_slider">
			
									<h2 class="soliloquy-caption-title">Benefits to Job Seekers</h2>
									<p>1. Automatically search and apply jobs on your behalf</p>
									<p>2. Get instant feedback on how you fare against other job seekers for similar job openings </p>
									<p>3. No more applying for the same job multiple times. </p>

								
									<p><a href="http://themeforest.net/item/jobify-job-board-wordpress-theme/5247604?ref=Astoundify" class="button-secondary">Upload your CV now</a></p>
\
			<style>
			#jsbenefits { background-image: url(/main/wp-content/uploads/sites/16/2013/07/App-Slider-BG-Darker.jpg); background-size: cover; }
			</style>
		</section>



		<section id="jobify_widget_callout-2" class="homepage-widget jobify_widget_callout">
			<div class="callout container">
				<div class="callout-description">
					<p>We are inviting Companies and Recruiters to participate in our exclusive launch. Post jobs for free! No credit cards required</p>
				</div>

				<div class="callout-action">
					<a href="post-a-job/index.html" class="button">POST A JOB NOW!</a>
				</div>
			</div>
		</section>

		</div><!-- #content -->
	</div><!-- #primary -->


		
				