<div class="adminLayout">

  <section class="adminControl">
      <button id="deleteEmptySeekers" class="btn btn-primary">Delete Empty Job Seeker Records Globally</button>
      <button id="" class="btn btn-primary">Delete Empty Job Records Globally</button>
      <button id="deleteEmptyCompanyUsers" class="btn btn-primary">Delete Empty Company User Records Globally</button>
  </section>
  <hr>
  <div id="seekerTable"></div> 
  <div id="coyTable"></div> 


 

</div> <!--adminLayout -->

<script>
  $(document).ready(function(){
  	$("#seekerTable").load("/admin_seekertable",{i: new Date().getTime()}); 
    $("#coyTable").load("/admin_coytable",{i: new Date().getTime()}); 

  }); //function()

  $('#deleteEmptySeekers').click(function() {
    $.post( "/delete_empty_seekers", function( data ) {
      $("#seekerTable").load("/admin_seekertable",{i: new Date().getTime()}); 
    });
  }); //deleteEmptySeekers

  $('#deleteEmptyCompanyUsers').click(function() {
    $.post( "/delete_empty_company_users", function( data ) {
      $("#seekerTable").load("/admin_seekertable",{i: new Date().getTime()}); 
    });
  }); //deleteEmptyCompanyUsers

</script>