<div class="adminLayout">

  <section class="adminControl">
    <header> Housekeeping <header>
    <div class="Instructions">
      <p>
        This button is for end of day housekeeping where all records that were created but not filled with data are automatically removed. Action is irreverisble!
      </p>
      <p> 1) Delete Empty User (Coy and Seeker) Records</p>
      <p> 2) Delete Empty Job Records</p>
      <p> 3) Delete Empty Company Records</p>
      <button id="housekeepingButton" class="btn btn-primary">KEEP IT CLEAN NOW!</button>
    </div>
    <header> Broadcasting <header>
      <div class="Instructions">
      <p>
        Broadcast information to users while they are online. For example, when is the next maintenance window.
        Temporary Not in use now. Development in progress.
      </p>

      <button id="broadcastButton" class="btn btn-primary">Broadcast!</button>
    </div>
  </section>
  w
  <hr>
  <div id="seekerTable"></div> 
  <div id="coyTable"></div> 

</div> <!--adminLayout -->

<script>
  $(document).ready(function(){
  	$("#seekerTable").load("/admin_seekertable",{i: new Date().getTime()}, function(){
      $.getScript("_/js/loading_scripts/admin_seekertablescript.js");
      window.location.hash = '#aa';
      window.location.hash = '#seekerTable';
    }); //seekerTable

    $("#coyTable").load("/admin_coytable",{i: new Date().getTime()}, function(){
      $.getScript("_/js/loading_scripts/admin_coytablescript.js"); 
    }); //coyTable
  }); //function()

  $('#housekeepingButton').click(function() {
    $.post( "/admin_housekeeping", function( data ) {
      $("#seekerTable").load("/admin_seekertable",{i: new Date().getTime()}, function(){
        $.getScript("_/js/loading_scripts/admin_seekertablescript.js");
      }); //seekerTable load 
      $("#coyTable").load("/admin_coytable",{i: new Date().getTime()}, function(){
        $.getScript("_/js/loading_scripts/admin_coytablescript.js"); 
        window.location.hash = '#aa';
        window.location.hash = '#seekerTable';
      }); //coyTable load     
    }); //post
  }); //housekeepingButton



</script>