<div class="adminLayout">

  <section class="adminControl">
    <header> Housekeeping <header>
    <div class="Instructions">
      <p>
        The buttons are used for end of day housekeeping where all records that were created but not filled with data are automatically removed. Action is irreverisble!
      </p>
    </div>
      <button id="deleteEmptySeekers" class="btn btn-primary">Delete Empty Job Seeker Records Globally</button>
      <button id="" class="btn btn-primary">Delete Empty Job Records Globally</button>
      <button id="deleteEmptyCompanyUsers" class="btn btn-primary">Delete Empty Company User Records Globally</button>
  </section>
  
  <hr>
  <div id="seekerTable"></div> 
  <div id="coyTable"></div> 

</div> <!--adminLayout -->

<script>
  $(document).ready(function(){
  	$("#seekerTable").load("/admin_seekertable",{i: new Date().getTime()}, function(){
      $.getScript("_/js/loading_scripts/admin_seekertablescript.js");
    });

    $("#coyTable").load("/admin_coytable",{i: new Date().getTime()}, function(){
      $.getScript("_/js/loading_scripts/admin_coytablescript.js"); 
    }); 
    
  }); //function()

  $('#deleteEmptySeekers').click(function() {
    $.post( "/delete_empty_seekers", function( data ) {
      $("#seekerTable").load("/admin_seekertable",{i: new Date().getTime()}); 
    });
  }); //deleteEmptySeekers

  $('#deleteEmptyCompanyUsers').click(function() {
    $.post( "/delete_empty_company_users", function( data ) {
      $("#seekerTable").load("/admin_seekertable",{i: new Date().getTime()}); 
    });
  }); //deleteEmptyCompanyUsers

 
</script>