<div class="adminLayout">

  <section class="adminControl">
    <header> Housekeeping <header>
    <div class="Instructions">
      <p>
        The buttons are used for end of day housekeeping where all records that were created but not filled with data are automatically removed. Action is irreverisble!
      </p>
      <p> 1) Delete Empty User (Coy and Seeker) Records</p>
      <p> 2) Delete Empty Job Records</p>
      <p> 3) Delete Empty Company Records</p>
      <button id="housekeepingButton" class="btn btn-primary">KEEP IT CLEAN NOW!</button>
    </div>
      
  </section>
  
  <hr>
  <div id="seekerTable"></div> 
  <div id="coyTable"></div> 

</div> <!--adminLayout -->

<script>
  $(document).ready(function(){
  	$("#seekerTable").load("/admin_seekertable",{i: new Date().getTime()}, function(){
      $.getScript("_/js/loading_scripts/admin_seekertablescript.js");
      window.location.hash = '#aa';
      window.location.hash = '#seekerTable';
    });

    $("#coyTable").load("/admin_coytable",{i: new Date().getTime()}, function(){
      $.getScript("_/js/loading_scripts/admin_coytablescript.js"); 
    }); 


    
  }); //function()

  $('#housekeepingButton').click(function() {
    $.post( "/admin_housekeeping", function( data ) {
      $("#seekerTable").load("/admin_seekertable",{i: new Date().getTime()}, function(){
        $.getScript("_/js/loading_scripts/admin_seekertablescript.js");
      }); //seekerTable load 
      $("#coyTable").load("/admin_coytable",{i: new Date().getTime()}, function(){
        $.getScript("_/js/loading_scripts/admin_coytablescript.js"); 
        window.location.hash = '#aa';
        window.location.hash = '#seekerTable';
      }); //coyTable load     
    }); //post
  }); //deleteEmptySeekers

  // $('#deleteEmptyCompanyUsers').click(function() {
  //   $.post( "/delete_empty_company_users", function( data ) {
  //     $("#seekerTable").load("/admin_seekertable",{i: new Date().getTime()}, function(){
  //       $.getScript("_/js/loading_scripts/admin_coytablescript.js"); 
  //       window.location.hash = '#aa';
  //       window.location.hash = '#seekerTable';
  //     }); 
      
  //   });
  // }); //deleteEmptyCompanyUsers

  // $('#deleteEmptyCompany').click(function() {
  //   $.post( "/delete_empty_coy", function( data ) {
  //     $("#coyTable").load("/admin_coytable",{i: new Date().getTime()}, function(){
  //       $.getScript("_/js/loading_scripts/admin_coytablescript.js"); 
  //       window.location.hash = '#aa';
  //       window.location.hash = '#coyTable';
  //     });//load 
  //   }); //post
  // }); //deleteEmptyCompany

</script>