<div class="seekerIndexlayout"> 
  <header>Welcome back, <%=@user.firstname%> <%=@user.middlename%> <%=@user.lastname%></header>
  <section class="jobMatches">
    <header>Your Job Matches</header>
      <div id="jobMatchTable"> </div>  
  </section> <!--jobMatches -->

  <section class="matchDetail">
    <header>Why you are matched</header>
    <div id="matchDetail"></div> 
  </section> <!--matchDetail -->
</div> <!--layout -->

<script type="text/javascript">
  $(document).ready(function(){
    $("#jobMatchTable").load("/jobmatchtable",{i: new Date().getTime()}); 
  }); //function()

  function showMatchDetail(i,j){
    $("#matchDetail").load("/jobmatchdetail",{ pk: i ,skrid: j}, function(){window.location.hash = '.matchDetail'; }); 
  };//showmatchdetail
</script>


