<div class="layout"> 
  <div id="Greeting">
    <h2>Welcome back, <%=@user.firstname%> <%=@user.middlename%> <%=@user.lastname%></h2>
  </div> <!--greeting -->
    
  <section class="jobMatches">
    <h2>Your Job Matches</h2>
    <div id="tab1"> </div>  
  </section> <!--jobmatches -->

  <section class="Insights">
    <h2>Insights<small>Job Matching Detail</small></h2>
    <div id="matchdetail"></div> 
  </section> <!--insights -->
</div> <!--layout -->

<script type="text/javascript">
  $(document).ready(function(){
      // document.getElementById('jobposting').scrollIntoView() ;  

      $("#tab1").load("/jobmatchtable",{i: new Date().getTime()}); 
  });

  function showmatchdetail(i,j){
          
   // $("#top5matches").load("/top5matchestable&pk=".concat(i.toString())); 
   $("#matchdetail").load("/jobmatchdetail",{ pk: i ,skrid: j}, function(){window.location.hash = '#matchdetail'; });
                 
  };//function

</script>


