<div class="seekerIndexlayout"> 
  <header>Welcome back, <%=@user.firstname%> <%=@user.middlename%> <%=@user.lastname%></header>
  <div id ="loading"></div>
  <div class="Instructions">
  <p>
    My Rank: How are you compared to the rest of the job seekers who are matched for the job
  </p>
  <p> Score: Determines how closely matched you are for the job.</p>
  <p> Select Score to find out how the score is being calculated for each job match <p>
  <p> Select Job Title to download Job Description </p>
</div> <!-- Instructions -->
  <section class="jobMatches">
    <header>Your Job Matches</header>
      <div id="jobMatchTable"> </div>  
  </section> <!--jobMatches -->

  <section class="matchDetail">
    <div id="matchDetail"></div> 
  </section> <!--matchDetail -->
</div> <!--seekerIndexlayout -->

<script type="text/javascript">
  $(document).ready(function(){
    $("#loading").html("<div class='spinner'></div>"); 
    $("#jobMatchTable").load("/jobmatchtable",{i: new Date().getTime()}, function(){
      $('#matchDetail').html('');
      $('.spinner').fadeOut(1000, function() {$(this).remove();});
      $("html, body").animate({ scrollTop: $(document).height() }, "slow"); }); 
  }); //function()

  function showMatchDetail(i,j){
    $("#loading").html("<div class='spinner'></div>"); 
    $("#matchDetail").load("/jobmatchdetail",{ pk: i ,skrid: j}, function(){
      $('.spinner').fadeOut(1000, function() {$(this).remove();});
      window.location.hash = '#aa';
      window.location.hash = '#matchDetail'; }); 
  };//showmatchdetail


</script>


