<div class="jobManagementLayout">
  <div id="greeting">
    <%=@mycoy.company_name%>
  </div> <!-- greeting -->
    <ul class="nav nav-tabs">
      <li class="active">
        <a id="activeclick" data-toggle="tab" href="#jobposting">
          Active/Pending/Draft
        </a>
      </li>
      <li>
        <a id="closedclick" data-toggle="tab" href="#archivedjobs">
          Closed/Cancelled
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="jobposting" class="tab-pane in active">
        <a id="newjobbutton" href="#" >
          <span class="btn btn-primary">Post a New Job</span>
        </a> 
          <div id="jobTable"></div>
          <div id="loading"></div>
          <div id="jobdetail"></div>
      </div> <!-- class="tab-pane"> -->
    </div> <!-- <div class="tab-content profile-edit-tab-content"> -->
</div> <!-- jobManagementLayout -->



<div class="modal fade" id="alert_coysuspended">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Company has been suspended</h4>
      </div>
      <div class="modal-body">
        <p>Job Posting is no longer available. Please contact us to reinstate your company account at request@jorb.co</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script type="text/javascript">

  $(document).ready(function(){
    document.getElementById('jobposting').scrollIntoView() ;  
    $("#jobTable").load("/activejobtable",{i: new Date().getTime()}); 
  }); //document.ready

  function showjobdetail(i){
    $("#jobdetail").html("");
    $("#loading").html("<div id='loader'><i class='fa fa-spinner fa-spin'></i>Loading Job Details now. You can start editing when this message is gone</div>");
   // $("#top5matches").load("/top5matchestable&pk=".concat(i.toString())); 
    $("#jobdetail").load("/jobdetail",{ pk: i }, function() { //which will launch newjobdetail.erb
      $('#loader').fadeOut(1000, function() {$(this).remove();});
      window.location.hash = '#jobdetail';
    }); //jobdetail 
  }//showjobdetail

  function deljob(i){
    $.ajax({
      url: '/deletejob',
      type: 'POST',
      data: {"pk" : i}, 
      success: function(response){  
        $("#jobTable").load("/activejobtable",{i: new Date().getTime()});   
      } //success
    }); //ajax
  }//deljob

  $('#activeclick').on("click", function() {
    $("#jobdetail").html("");
    $("#jobTable").load("/activejobtable",{i: new Date().getTime()}); 
  }); //activeclick

  $('#closedclick').on("click", function() {
    $("#jobdetail").html("");
    $("#jobTable").load("/closedjobtable",{i: new Date().getTime()}); 
  }); //closedclick

  $('#newjobbutton').on("click", function() {
    if (<%= @mycoy.company_suspended %> == false){   
      $.getJSON("/newjob", {"value": "<%=@user.tme_company_main_id%>"}, function (result) {
        $("#jobdetail").load("/newjobdetail",{i: new Date().getTime(), pk: result.jobid, coy: result.mycoy}, function(){window.location.hash = '#jobdetail'; });  
        $("#jobTable").load("/activejobtable",{i: new Date().getTime()});           
      }).fail(function(d, textStatus, error) {
        console.error("Something wrong. Please report this status: " + textStatus + ", error: "+error)
      });  //fail
    }
    else {
      $('#alert_coysuspended').modal('show')
    }
  }); //newjobbutton


</script>

