<!DOCTYPE html>
<html lang="en">
<!-- This Layout (layout4.erb) is used by j_mycv -->
<!-- A stripped down version of layout2.erb -->

<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>JORB</title>
  <link href="_/css/styles.css" rel="stylesheet"></link> 
  <link href="_/css/jqueryfileupload/jquery.fileupload.css" rel="stylesheet"> </link> 
  <link href="_/css/select2/select2.css" rel="stylesheet" type="text/css"></link>  
  <link href="_/css/x-editable/bootstrap-editable.css" rel="stylesheet" type="text/css"></link>  
  <link href="_/css/x-editable/bootstrap-wysihtml5-0.0.2.css" rel="stylesheet" type="text/css"></link> 
  <link href="_/css/date-time/daterangepicker.css" rel="stylesheet" type="text/css"></link> 
  <link href="_/css/spinners/dots.css" rel="stylesheet" type="text/css"></link> 
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

  <!--JQuery--> 
  <script src="_/js/jquery/jquery.min.js" type="text/javascript" ></script> 
  <script src="_/js/jquery/jquery-ui.min.js" type="text/javascript" ></script> 
  <script>
  $(window).load(function(){
      $('#preloader').fadeOut(100, function() {
                 $('body').css('overflow','auto');
                 $(this).remove();
      });
  });
  </script>
</head>

<body>
  <header>
    <div class="hero">
      <section class="layout">
        <div class="branding">
          <a href="http://www.jorb.co">
            <img src="images/JORB-logo-dark-200.png" alt="Jorb.co">
          </a>
        </div> <!-- branding -->
      </section> <!-- layout -->
    </div> <!-- hero -->
    <div class="navigation">
      <section class="layout">
        <ul class="nav">
          <li><a href="/"><i class="fa fa-home"></i>Home</a></li>
          <li><a href="/companyprofile"><i class="fa fa-question"></i>Company Profile</a></li>
          <li><a href="/hrm"><i class="fa fa-user"></i>Analyse Matches</a></li>
          <li><a href="/jobpostings"><i class="fa fa-heart"></i>Manage Jobs</a></li>
          <li><a href="/logout"><i class="fa fa-keyboard-o"></i>Sign out</a></li>
        </ul>
      </section> <!-- layout -->
    </div> <!-- navigation -->
  </header><!-- header -->

  <div id="preloader"> <div id="spinner_container"> <div id="spinner" class="dots">    Loading... </div></div></div>

  <%= yield %> 

  <script src="_/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>  
  <script src="_/js/x-editable/bootstrap-editable.min.js" type="text/javascript" ></script> 
  <script src="_/js/x-editable/wysihtml5/bootstrap-wysihtml5-0.0.2/wysihtml5-0.3.0.js" type="text/javascript" ></script>
  <script src="_/js/x-editable/wysihtml5/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.js" type="text/javascript"></script> 
  <script src="_/js/x-editable/wysihtml5/wysihtml5.js" type="text/javascript" ></script>
  <script src="_/js/x-editable/select2.js" type="text/javascript" ></script> 
  <script src="_/js/x-editable/address.js" type="text/javascript"></script> 
  <script src="_/js/date-time/moment.min.js" type="text/javascript"></script>
  <script src="_/js/date-time/daterangepicker.js" type="text/javascript"></script>
  <script src="_/js/datatables/jquery.dataTables.min.js" type="text/javascript" ></script> 
  <script src="_/js/datatables/jquery.dataTables-bootstrap.js" type="text/javascript" ></script> 
  <!-- <script src="/vendor/aceskin/ace-elements.min.js" type="text/javascript" ></script> -->
    

</body>


</html>     