

        <div class="page-container">
            <h1>Login</h1>
            <form action="/auth/login" method="post">
                <input type="text" name="user[username]" class="username" placeholder="Username">
                <input type="password" name="user[password]" class="password" placeholder="Password">
                <button type="submit">Sign me in</button>
                <div class="error"><span>+</span></div>
            </form>
        </div>

        <!-- Javascript -->
        <script src="_/js/login/jquery-1.8.2.min.js"></script>
        <script src="_/js/login/supersized.3.2.7.min.js"></script>
        <script src="_/js/login/supersized-init.js"></script>
        <script src="_/js/login/scripts.js"></script>
