

<div class="page-container">
    <h1> Login</h1>
    <form action="/auth/login" method="post">
        <input type="text" name="user[username]" class="username" placeholder="Email Address" >
        <input type="password" name="user[password]" class="password" placeholder="Password">
        <button type="submit" class="submit">Sign me in</button>
        <div class="error"><span>+</span></div>
    </form>
    <br><br>
    <p style="font-size:0.8rem">By clicking on "Sign me Me" button, you agree to bound by the <a href="http://www.jorb.co/terms-of-service/" target="_blank">Terms Of Use</a> and <a href="http://www.jorb.co/privacy-policy/" target="_blank">Privacy Policy</a></p>
</div>

<!-- Javascript -->
<script src="_/js/login/jquery-1.8.2.min.js"></script>
<script src="_/js/login/supersized.3.2.7.min.js"></script>
<script src="_/js/login/supersized-init.js"></script>
<script src="_/js/login/scripts.js"></script>


<script>


$('.username').on('blur', function() {
	var input=$(this);
	var username=input.val();;
	$.post("/checkUserStatus", {value: username}, function(data){
		if (data.status == 0) {
			alert ("User Account is suspended. Please contact support@jorb.co for more information");
		} else if (data.status == 2) {
			alert ("User Account has been removed. Please contact support@jorb.co for more information");
		} else if (data.status == 3) {
			alert ("Invalid User! Please retry");			
		}
	}, "json")
});

// $('.submit').click(function(data) {
// 	if (data.terms_agreed == "false") {
// 		alert ("show terms");
// 	}
// 	else {
// 		alert ("go in now");
// 	} 
// });
	
</script>