
        <div class="page-container">
            <h1>Recruiter Registration</h1>
            <form action="/recruiter_registration" method="post">
                <input type="text" name="email" placeholder="email">
                <input type="text" name="firstname" placeholder="firstname">
                <input type="text" name="lastname" placeholder="lastname">
                <input type="password" name="password1" class="password" placeholder="Password">
                <input type="password" name="password2" class="password" placeholder="Re-enter Password">

                <button type="submit">Register me</button>
                <div class="error"><span>+</span></div>
            </form>
        </div>

        <!-- Javascript -->
        <script src="_/js/login/jquery-1.8.2.min.js"></script>
        <script src="_/js/login/supersized.3.2.7.min.js"></script>
        <script src="_/js/login/supersized-init.js"></script>
        <script src="_/js/login/scripts.js"></script>
