@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('font-awesome/css/font-awesome.min.css');
@import url('datatables/jquery.dataTables.min.css');
@import url('bootstrap/bootstrap.min.css');

body {
	// font-family: $font-primary;
	// font-size: 100%;
	// line-height:160%;
	// background: $paleryellow;
	// color: $darkblue;
	  font-family: 'Roboto', sans-serif;
	  font-size: 16px;
	  line-height: 2.35;
	  background: #fff;
	  // background: #eeeeee;
	  margin: 0;
	  padding: 0;
}

/* GENERAL STYLES
   ================================== */
html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}



#{headings()}{
	font-family:$font-secondary;
	font-weight: normal;
	margin-top: 10px;
	line-height: 1em;
	text-shadow: 0 0 1px rgba(51,51,51,.2);
	color: $darkgray;
	@include text-shadow($paleryellow 1px 1px)
}


h1{
	font-size: 2.2rem;
	color: lighten($darkblue, 25);
	margin-bottom: .4rem;
	border-bottom: 1px solid $lightgray;
	padding-top:10px;
}
// h1 {
//   font-size: 1.75em;
//   color: #fafafa;
//   margin: 0;
//   padding: 0.15em;
//   position: relative;
//   top: 0.5em;
// }
h2{
	font-size: 1.5rem;
	line-height:100%;
	margin: 20px 0 20px 0;
	color: $orange;
}

h3{
	font-size: 1.2rem;
	line-height: 60%;
	color: $darkerblue;
}


p , span, .datepicker{
	margin-bottom: 10px;
	font-size: 0.9rem;
}

.datePicker{
	margin-left:5px;
}

// inputText, input["text"] ------------------------------------
// a.inputText, input[type="text"] {
//     display: block;
//     border: none;
//     border-radius: 20px;
//     padding: 5px 8px;
//     color: #000;
//     box-shadow:
//         inset 0 2px 0 rgba(0,0,0,.2),
//         0 0 4px rgba(0,0,0,0.1);
//     width:80%;
//     line-height: 1.5em;
//     border-bottom: none !important;
// 	background-color: #EAEAEA;
// 	background: -moz-linear-gradient(top, #FFF, #EAEAEA);
// 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #FFF), color-stop(1.0, #EAEAEA));
// }

// Checkbox ---------------------------------------------

// input[type="checkbox"] {
//   display: none;
  
// }

// input[type="checkbox"] + label {
//   background-color: #fafafa;
//   border: 1px solid #cacece;
//   box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
//   padding: 9px;
//   border-radius: 3px;
//   display: inline-block;
//   position: relative;
//   margin: 0 5px;
//   top:5px;
// }

// input[type="checkbox"] + label:active, .checkBox:checked + label:active {
//   box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
// }

// input[type="checkbox"]:checked + label {
//   background-color: #e9ecee;
//   border: 1px solid #adb8c0;
//   box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
//   color: #99a1a7;
// }

// input[type="checkbox"]:checked + label:after {
//   content: '\2714';
//   font-size: 1.5em;
//   position: absolute;
//   top: -5px;
//   left: 3px;
//   color: #99a1a7;
// }

// Radio button -----------------------------------------
input[type="radio"]{
  border: 0px;
  width: 25px;
  height: 1.3em;
  margin: 0;
}

.btn{
	margin-left: 1em;
}


// header -----------------------------------------------------
header {
	font-size: 1.4rem;
	color: $darkerblue;
	margin-bottom: 1em;
	margin-top: 1em;
}


// span, p -----------------------------------------------------
span, p {
	font-size: 0.9em;
	color: #000;
	padding: 0px 0px;
	margin: 1em;
}




 // DataTables framework ---------------------------------------
div.dataTables_wrapper {
	background-color: #719ba7;
}

div.dataTables_length {
	float: left;
}

div.dataTables_filter {
	float: right;
}

div.dataTables_info {
	padding: 9px 6px 6px 6px;
	float: left;
}

div.dataTables_paginate {
	float: right;
}

div.dataTables_length,
div.dataTables_filter,
div.dataTables_paginate {
	padding: 6px;
}

/* Self clearing - http://www.webtoolkit.info/css-clearfix.html */
.dataTables_wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
html[xmlns] .dataTables_wrapper {
	display: block;
}
 
* html .dataTables_wrapper {
	height: 1%;
}


/*
 * Table styles
 */
table {
	width: 100%;
	clear: both;
}

table td,
table th {
	padding: 5px;
	border: 1px solid #fff;
}

/* Header cells */
table thead th {
	text-align: center;
	background: #66a9bd;
}

/* Body cells */
table tbody th {
	text-align: left;
	background: #91c5d4;
}
	
table tbody td {
	text-align: left;
	background: #d5eaf0;
}
		
table tbody tr.odd td { 
	background: #bcd9e1;
}

/* Footer cells */	
table tfoot th {
	background: #b0cc7f;
	text-align: left;
}
	
table tfoot td {
	background: #d7e1c5;
	text-align: center;
	font-weight: bold;
}


/*
 * Pagination
 */
a.paginate_button,
a.paginate_active {
	display: inline-block;
	background-color: #608995;
	padding: 2px 6px;
	margin-left: 2px;
	cursor: pointer;
	*cursor: hand;
}

a.paginate_active {
	background-color: transparent;
	border: 1px solid black;
}

a.paginate_button_disabled {
	color: #3d6672;
}
.paging_full_numbers a:active {
	outline: none
}
.paging_full_numbers a:hover {
	text-decoration: none;
}

div.dataTables_paginate span>a {
	width: 15px;
	text-align: center;
}

//------------------------------------------------
