//Susy Setup ---------------------------------------

// $total-columns : 12 ;
// $column-width : 4em;
// $gutter-width : 1em;
// $grid-padding : $gutter-width;

@include border-box-sizing;

$small 	: 30em;
$medium : 60em;
$large	: 75em;
$large_admin : 90em;

//settingsLayout ---------------------------------------
.settingsLayout {
	@include container;
	padding: 0 3%;

//jobMatches --------------------------------------
	.jobMatches {
		margin-top: .2em;
		@include breakpoint($medium) {
			// @include span(8 of 12);
			font-size : 0.9em;
				h2 {
					color: $orange;
					border: none;
					text-shadow: none;
					margin-bottom: 20px;
				} //h2
				
				a {
					color: $darkblue;
				} //a
		}//medium layout
	} //jobmatches

	//Insights ---------------------------------------
	.Insights {
		@include breakpoint($medium) {
			// @include span(4 omega of 12);
			font-size : 1.1rem;
		} //medium layout
	} //Insights


	//searchStatus -------------------------------------
	.searchStatus {
		@include breakpoint($medium) {
			 @include span(6 of 12);
			font-size : 1.0rem;
			h2 {
				color: $orange;
			} //h1

		} //medium layout
	} // searchStatus

	//CV -----------------------------------------------
	.CV {
		@include breakpoint($medium) {
			 @include span(6 omega of 12);
			font-size : 1.0rem;
		} //medium layout
	} // CV

	//jobPreferences -----------------------------------------------
	.jobPreferences {
		@include breakpoint($medium) {
			 @include span(12 of 12);
			font-size : 1.0rem;
		} //medium layout
	} // jobPreferences

	//Achievements -----------------------------------------------
	.Achievements {
		@include breakpoint($medium) {
			 @include span(12 of 12);
			font-size : 1.0rem;
		} //medium layout
	} // Achievements

	//Experiences -----------------------------------------------
	.Experiences {
		@include breakpoint($medium) {
			 @include span(6 of 12);
			font-size : 0.7em;
			padding-right: 5px;
			margin-right: 5px;
		} //medium layout
	} // Experiences

	.Competencies {
		@include breakpoint($medium) {
			 @include span(6 omega of 12);
			font-size : 0.7rem;
			padding-left: 5px;
			margin-left: 5px;
		} //medium layout
	} // Competencies


} //settingsLayout

//profileLayout ---------------------------------------
.profileLayout {
	@include container;
	padding: 0 3%;

	.Avatar{
		@include breakpoint($medium) {
			 @include span(12 of 12);
		} //medium layout
	}

	
	.profileDetail {
		@include breakpoint($medium) {
			 @include span(12 of 12);
		} //medium layout
	}

	.contactInformation {
		@include breakpoint($medium) {
			 @include span(6 of 12);
			font-size : 0.8rem;
		} //medium layout
	}

	.socialNetwork {
		@include breakpoint($medium) {
			 @include span(6 omega of 12);
			font-size : 0.8rem;
		} //medium layout
	}
}

//seekerIndexlayout (index.erb) ---------------------------------------
.seekerIndexlayout {
	@include container;
	padding: 0 3%;
	font-size: 0.6rem;
	.jobMatches{
		@include breakpoint($small) {
			 font-size: 0.6rem;
			 @include span(12 of 12);

		} //small layout
		@include breakpoint($medium) {
			 @include span(6 of 12);
			 font-size: 0.7rem;

		} //medium layout
	}
	.matchDetail{
		@include breakpoint($medium) {
			 @include span(6 omega of 12);
			font-size: 0.7rem;
		} //medium layout
	}
}

//cvLayout ---------------------------------------
.cvLayout {
	@include container;
	padding: 0 3%;
	font-size:0.9em;

//Avatar (myCV)-------------------------------------
.avatar-frame {
    float: left;
    
  } // Avatar

//Detail (myCV)-----------------------------------------------
  .Detail {
    float: left;
    margin: 0px 20px;
    // @include clearfix;
  } // Detail

	//Skills -----------------------------------------------
	.Skills {
		// @include clearfix;
		float: left;
		@include breakpoint($small) {
			 @include span(12 of 12);
			font-size : 0.8rem;
		} //medium layout
	} // jobPreferences

	//Achievements -----------------------------------------------
	.Achievements {
		float: left;
		@include breakpoint($small) {
			 @include span(12 of 12);
			font-size : 0.8rem;

		} //medium layout
	} // Achievements

	//Experiences -----------------------------------------------
	.Experiences {
		float: left;
		@include breakpoint($medium) {
			 @include span(6 of 12);

		} //medium layout
	} // Experiences

	//Education -----------------------------------------------
	.Education {
		float: left;
		@include breakpoint($medium) {
			 @include span(6 omega of 12);
		} //medium layout
	} // Education


} //cvLayout


//hrmLayout ---------------------------------------
.hrmLayout {
	@include container;
	padding: 0 3%;
	font-size: 0.8rem;

	//jobListing -----------------------------------------------
	.jobListing {
		@include breakpoint($small) {
			 font-size: 0.6rem;
			 @include span(12 of 12);

		} //small layout

		@include breakpoint($medium) {
			 @include span(6 of 12);
			 font-size: 0.7rem;

		} //medium layout

	} // jobListing

	//top5Matches -----------------------------------------------
	.top5Matches {
		@include breakpoint($small) {
			 font-size: 0.6rem;
			 @include span(12 of 12);

		} //small layout
		
		@include breakpoint($medium) {
			 @include span(6 omega of 12);
			 font-size: 0.7rem;

		} //medium layout

	} // top5Matches

	//matchDetail -----------------------------------------------
	.matchDetail {
		@include breakpoint($medium) {
			 @include span(12 of 12);
		} //medium layout
	} // matchDetail



} //hrmLayout


//jobManagementLayout ---------------------------------------
.jobManagementLayout {
	@include container;
	padding: 0 3%;


} //jobManagementLayout

//jobDetailLayout ---------------------------------------
.jobDetailLayout {
	@include container;
	padding: 0 3%;
	
	.jobDetailLeft{
		@include breakpoint($medium) {
			@include span(6 of 12);
		} //medium layout
	} //jobDetailLeft
	
	.jobDetailRight{
		@include breakpoint($medium) {
			@include span(6 omega of 12);
			margin-top:3em;
		} //medium layout
	} //jobDetailRight

	.jobRequirement{
		@include breakpoint($medium) {
			@include span(12 of 12);
		} //medium layout
	} //jobRequirement

} //jobDetailLayout


//adminLayout ---------------------------------------
.adminLayout {
	@include container;
	padding: 0 3%;
	
	@include breakpoint($large_admin) {
		#coyTable{
			@include span(6 omega of 12);
						padding:10px 30px;

			
		}	
		#seekerTable{
			@include span(6 of 12);
						padding:10px 10px;

		}			
	}
	@include breakpoint($medium) {
		#coyTable, #seekerTable{
		}		
	}
}

//companyProfileLayout ---------------------------------------
.companyProfileLayout {
	@include container;
	padding: 0 3%;

	.Profile {
		@include breakpoint($medium) {
			 @include span(6 of 12);
			font-size : 1.0rem;
		} //medium layout

	}
	.contactInfo {
		@include breakpoint($medium) {
			 @include span(6 omega of 12);
			font-size : 1.0rem;
		} //medium layout
	}
	
	.socialMedia {
		@include breakpoint($medium) {
			 @include span(6 omega of 12);
			font-size : 1.0rem;
		} //medium layout
	}
}

//header ----------------------------------------

header {
	img {
		width: 95%;
		margin: 2.5%;
		max-width: 200px;
		margin-bottom:0;
	}

	.hero {
		width: 100%;
		@include breakpoint($medium) {
			// @include single-transition(all, 1s, ease-out);
			position: relative;
			display: block;
			// width: 100%;
			height: 100px;
			// @include background(linear-gradient(bottom left, rgba($darkerblue, .6), rgba($darkerblue,0)), image-url('misc/helper.jpg'));
				
			// background-repeat: norepeat;
			// background-position: center center;
			// -webkit-background-size: cover;
			// -moz-background-size: cover;
			// -o-background-size: cover;
			// background-size: cover;
			// margin: 0 auto;
			
			.branding {
				position: absolute;
				bottom: 0;
			}//branding
		}//medium layout

	}//hero
}//header

//Navigation ---------------------------------------

.navigation {
	background: lighten($darkblue, 15);
	ul.nav{
		@include breakpoint($small){
			@include horizontal-list;
		}
		li {
			i {
				color: lighten($yellow, 20);
				padding-right: .5em;

			} //i
			a {
				@include single-transition(all,0.5s, ease-out);
				display: block;
				text-decoration: none;
				padding: 5px 10px;
				color: $paleryellow;

				&:hover {
					background: $orange;
					a{
						color: lighten($yellow,30);
					}

				}
			} // a
		} //li
	} //ul.nav
} //nav

//Speakers List ---------------------------------------
.speakerslist {
	img {
      @include border-radius;
      width: 120px;
      float: left;
      margin: {
        right: 10px;
        bottom: 10px;
      } //margin
    } //img

    i{
    	padding-right: 15px;
    }

	@include breakpoint($medium) {
		text-align: center;
		@include background(linear-gradient(top, lighten($darkblue,3), $darkerblue));
		overflow: hidden;
		color:rgba($paleyellow, .5);
		padding-bottom:10px;

		#{headings()}{
			text-shadow: none;
			border-bottom: none !important;
		} //headings

		h1 {
			color: $green;
			font-size: 2.6 rem;
			line-height: 1em;
			@include breakpoint($large){
				font-size: 4rem;
				line-height: 1em;
			} //medium
		} //h1

		h3 {
			color: lighten($yellow, 10);
			line-height: .9rem;
		}//h3

		.small{
			padding-top: .4em !important;
			line-height: 1em;
			color: lighten($darkblue,30);
			a{
				color: lighten($darkblue,30);
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				} //a:hover
			} //a:
		} //small
		img.speaker {
			float: none;
			width: 40%;
			max-width:170px;
			margin: 0 auto;
			@include border-radius(50%);
		} //img

		.small {
			display:block;
		} //small

		p:nth-of-type(2){
			font-weight: 200 !important;
			text-align: left;
			font-size: .8em;
			line-height: 0;
			@include single-transition(all, .3s, ease-out);
			opacity:0;
		}

		&:hover {
			p:nth-of-type(2){
				line-height: 1.5em;
				opacity: 1;
			}
		} //hover

		.artist {
			@include span(4 of 12);
		} //artist

		.artist:nth-of-type(3){
			@include span(4 omega of 12);
		}
	}//medium
} //speakerslist.

//Footer ---------------------------------------
footer {
	color: $paleyellow;
	background: lighten($darkblue,3);
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 100px;
}





