// Spinner ---------------------------------------------
#preloader {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:white;
  opacity:1;
  z-index:9999;
}
#spinner_container {
  position:absolute;
  width:100%;
  top: 50%;
  left:0px;
  height:1px;
  overflow:visible;
  opacity: 1;
  background: transparent;
}
#spinner {
  /*width: 31px;*/
  /*height:31px;*/
  margin-left:-15px;
  position:absolute;
  top:-15px;
  left:50%;
  display:block;
}



// Profile ---------------------------------------------
.Avatar {
  .fileinput-button {
    margin-top:0px;
    margin-left:0px;
    font-size: 0.6em;
  } // fileinput-button
  .avatar-frame{
      clear: both;
      } //avatar-frame
} //Avatar

// next meeting ---------------------------------------------
#greeting {
  @include clearfix;
  img {
    @include border-radius;
    width: 30%;
    max-width: 130px;
    float: left;
    margin-right: 3%;
  } //img
} //greeting



// Social Media Icons ---------------------------------------------
.socialmediaicons {
  .title {
    float: left;
  }

  ul {
    float: left;
    li {
      display: inline-block;
      margin-left: 5px;
      img {
        width: 30px;
        @include border-radius(50%);
      } //img
    } //li
  } //ul
} //socialmediaicons


// avatar-frame ---------------------------------------------
.avatar-frame{border: 2px solid #c7b89e;}
.avatar-frame, .avatar-frame img{
  // @include clearfix;
  @include border-radius;
  max-width:110px;
  height: 110px;
  }


// Achievements ---------------------------------------------

.Achievements div {
  background:#FFF;
  border-bottom: none !important; 
}

.Achievements a{
  display: block;
  text-decoration: none;
  border-bottom: none !important; 
  color: #444;
  font-size: 0.9em;
}

//Experiences, Competencies (settings)-----------------------------------------------
.Experiences, .Competencies, #tablespace {
    font-size : 0.8em;
} // Experiences, Competencies

// Skills (myCV) ---------------------------------------------
.Skills {


} // Skills (myCV)

// allSkills (cvSkillModal) ---------------------------------------------
.allSkills {
  color: $white;
  padding: 0px 30px;
  text-align: center;
  p {
    text-align: left;
  }
  .rank5 {
    background-color: $rank5;
  }
  .rank4 {
    background-color: $rank4;
  }
  .rank3 {
    background-color: $rank3;
  }
  .rank2 {
    background-color: $rank2;
  }
  .rank1 {
    background-color: $rank1;
  }


} // allSkills (cvSkillModal)


// .cvLayout(myCV) ---------------------------------------------
.cvLayout{
  .Experiences {
    font-size : 1em;

  } //.Experiences
} // .cvLayout (myCV)


// Education (myCV) ---------------------------------------------
.Education {
  // @include clearfix;
  font-size : 1em;
  .small {
    font-size: 0.8em;
  }
} // Education (myCV)


//jobListing top5Matches-----------------------------------------------
.jobListing, .top5Matches, .matchDetail {
    font-size : 0.8em;
} // jobListing top5Matches matchDetail


//Instructions -----------------------------------------------
.Instructions {
  margin: 5px 30px;
  padding: 10px;
  background: #F8F8F8;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  font-size: 0.9em;
}//Instructions

//coyUserTable (companyprofile)-----------------------------------------------
#coyUserTable, #user>a{
  margin: 5px 50px;
  padding: 0px;
  font-size: 0.7em;
} //coyUserTable
