// Spinner ---------------------------------------------
#preloader {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:white;
opacity:1;
z-index:9999;
}
#spinner_container {
position:absolute;
width:100%;
top: 50%;
left:0px;
height:1px;
overflow:visible;
opacity: 1;
background: transparent;
}
#spinner {
/*width: 31px;*/
/*height:31px;*/
margin-left:-15px;
position:absolute;
top:-15px;
left:50%;
display:block;
}



// Profile ---------------------------------------------
.Profile {
  .fileinput-button {
    margin-top:0px;
    margin-left:0px;
    font-size: 0.6em;
  } // fileinput-button
} //Profile

// next meeting ---------------------------------------------
#greeting {
  @include clearfix;
  img {
    @include border-radius;
    width: 30%;
    max-width: 130px;
    float: left;
    margin-right: 3%;
  } //img
} //greeting



// Social Media Icons ---------------------------------------------
.socialmediaicons {
  .title {
    float: left;
  }

  ul {
    float: left;
    li {
      display: inline-block;
      margin-left: 5px;
      img {
        width: 30px;
        @include border-radius(50%);
      } //img
    } //li
  } //ul
} //socialmediaicons

// Photogrid ---------------------------------------------
.pixgrid {
  @include clearfix;

  img {
    @include border-radius;
    width: 30%;
    max-width: 120px;
    cursor: pointer;
  } // img
} // pixgrid


// avatar-frame ---------------------------------------------
.avatar-frame{border: 2px solid #c7b89e;}
.avatar-frame, .avatar-frame img{
  @include clearfix;
  @include border-radius;
  max-width:110px;
  height: 110px;
  }


// Achievements ---------------------------------------------

.Achievements div {
  background:#FFF;
  border-bottom: none !important; 
}

.Achievements a{
  display: block;
  text-decoration: none;
  border-bottom: none !important; 
  color: #444;
  font-size: 0.9em;
}

  //Experiences, Competencies -----------------------------------------------
  .Experiences, .Competencies, #tablespace {
      font-size : 0.8em;

  } // Experiences, Competencies

// Skills (myCV) ---------------------------------------------
.Skills {
  // @include clearfix;

} // Skills (myCV)


// Education (myCV) ---------------------------------------------
.Education {
  // @include clearfix;
  .small {
    font-size: 0.9em;
  }

} // Education (myCV)


//Avatar (myCV)-------------------------------------
  .Avatar {

    float: left;
  } // Avatar

//Detail (myCV)-----------------------------------------------
  .Detail {
    float: left;
    margin: 20px;
  } // Detail


//jobListing -----------------------------------------------
.jobListing {
    font-size : 0.9em;
} // jobListing


//Instructions 
.Instructions {
  background: $blue;
}

